{% extends "base.html" %} {% block content %}

<!-- Scripts needed for functionality on this page -->
<script src="{{ url_for('static', filename='js/dashboard/dashboard.js') }}"></script>

<!-- Staring definition of site content -->
<section class="section" id="content">	 
 	
	<form method="POST" action="/">
		{{ form.csrf_token }}
	    {{ form.pdb_id(size=4) }} 
		 
	    <input class="button" type="submit" value="Submit">
	    
	<div id="selectedResi"></div>
		 
	</form>
	
	<div class="button" id="toggleSideChains">Show sidechains</div>
	<div class="button" id="clearView">Clear view</div>
	<div class="button" id="centerView">Center the view</div>
	<div class="checkbox">
  		<input type="checkbox" id="radCheck">
  		See nearby atoms (when clicking)
	</div>	
</section>

<section class="box" id="viewer">	
	  		  	
	<div class="container" id="viewport" style="height:600px;"></div>
	
	<script async>if( '{{pdb_id}}' != 'None'){
		loadStructure('{{pdb_id}}')}</script>
		
</section>	

<div class="field">
  <div class="control">
    <label class="label">Give chain ID, position and color </label>
    <input class="input is-info" id="colorResid" type="text" placeholder="A22:#e76818">
  </div>
</div>

<div class="button" id="colorSelect">Submit</div>


	<div class="field">
  <div class="control">
  	<label class="label">Give the following: [Three letter code]Position:Chain for example [VAL]21:A</label>
    <input class="input is-info" id="resToSwap" type="text" placeholder="Residue to be mutated ">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-info" id="resForSwap" type="text" placeholder="Mutation">
  </div>
</div>

<div class="button" id="swapResidues">Submit</div>

{% endblock %} {% block js %} {% endblock %}